<html>
	<head>
		<title>Cookie & Chips</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="css/stylesheet.css" />
		<script src="js/angular.min.js"></script>	
		<script src="js/angular-ui-router.min.js"></script>
		<script src="js/custom_portal.js"></script>
		<script src="js/angular-messages.js"></script> 
	</head>
	<body ng-app="customApp">
		<div id="background" ng-app="customApp" ng-controller="appCtrl">
		<div id="addshopform">
				<div id="formheader">
				  Add Shop Detials
				</div>
				<form name="shopform"  id="shopform" ng-submit="submit()" onreset="document.getElementById('submit').disabled = true;">
				  <formtext>Name of the Shop:</formtext>
				  <input type="text" name="shop_name" ng-model="shop_name" Required >
				  <div ng-if="shopform.shop_name.$touched" class="error" ng-messages="shopform.shop_name.$error" role="alert">
				  <div ng-message="required">Required Field</div>
				  </div>
				  <formtext>Owner's Name:</formtext>
				  <input type="text" name="owner_name" ng-model="owner_name" Required minlength="3" >
				  <div ng-if="shopform.owner_name.$touched" class="error" ng-messages="shopform.owner_name.$error" role="alert">
				  <div ng-message="required">Required Field</div>
				  <div ng-message="minlength">Please enter minimum 3 characters.</div>
				  </div>
				  <formtext>Type:</formtext>
				  <select  name="type" ng-model="type"   >
				  <option value='medical' ng-selected="true" >Medical shop</option>
				  <option value='grocery'>Grocery shop</option>
				  <option value='supermarket'>Supermarket</option>
				  <option value='other'>Other</option>
				  </select>  
				  <formtext>Area:</formtext>
				  <input type="text"  name="area" ng-model="area" Required >
				  <div ng-if="shopform.area.$touched" class="error" ng-messages="shopform.area.$error" role="alert">
				  <div ng-message="required">Required Field</div>
				  </div>
				  <formtext>City:</formtext>
				  <input type="text" name="city" ng-model="city" Required >
				   <div ng-if="shopform.city.$touched" class="error" ng-messages="shopform.city.$error" role="alert">
				   <div ng-message="required">Required Field</div>
				   </div>
				  <formtext>District:</formtext>
				  <input type="text" name="district" ng-model="district" >
				  <formtext>Pin Code:</formtext>
				  <input type="number" name="pincode" ng-model="pincode" > 
				  <formtext>Budget:</formtext>
				  <input type="number" name="budget" ng-model="budget" Required min="1">
				  <div ng-if="shopform.budget.$touched" class="error" ng-messages="shopform.budget.$error" role="alert">
				  <div ng-message="min">Please enter valid amount</div>
				  <div ng-message="required">Required Field</div>
				  </div>
				  <input type="submit" id='submit' ng-disabled="shopform.$invalid||shopform.$pending" value="Add shop" >
				  <input type="reset" value="Reset" >
				  <input type="button" ui-sref='result' value="View Result">
			  </form>
		  </div>
		  <div id="success">
		   Shop Details added , Click on View Result to check the result.
		  </div>
	  </body
</html>